<!DOCTYPE html>
<htmL>
  <h1>Please create an account</h1>
  <form action='/users' method='post'>
    <p>Enter your email address</p>
    <input type='email' name='email' value='<%= @user.email %>' placeholder='email' autofocus required>
    <p>Enter a password</p>
    <input type='password' name='password' required>
    <p>Please confirm your password</p>
    <input type='password' name='password_confirmation' required>
    <button type='submit'>Sign up!</button>
  </form>
</htmL>
